body {
  color: white;
  background-color: black;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: white;
  text-decoration: none;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid red;
}

.center {
  text-align: center;
}

footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

footer {
  display: flex;
  justify-content: center;
}

footer p {
  margin-top: 2px;
}

.container {
  padding: 0px 50px
}

nav a:hover {
  color: red;
}

footer a:hover {
  color: red;
}

footer a {
  text-align: center;
}

li a {
    padding: 6px 15px;
    border-radius: 20px;
}

li a:hover ,
li a.active {
    background: #fff;
    color: #2b1055;
}
